.league-div {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
    font-size: 100% !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.table-league {
    border-radius: 1rem;
}

.none {
    display: none;
}