ul {
    list-style-type: none;
}

.transaction-each {
    padding: 1%;
    margin-right: 2rem;
    background-color: #c8d8e4;
    color: #2b6777;
    border-radius: 1rem;
}

.gk {
    color: orange;
}

.def {
    color: rgb(178, 197, 8);
}

.mid { 
    color: green;
}

.att {
    color: blue;
}

.transactions-body {
    margin-top: 2rem;
}