.App {
  text-align: center;
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.squad-main-div {
  display: flex;
  margin-top: 3rem;
}

.left-squad {
  width: 50%;
}

.right-squad {
  width: 50%;
}

.value {
  font-size: 1.5rem;
  position: relative;
  top: 1rem;
  font-weight: 900;
}

.remaining-block {
  margin-top: 2rem;
}

.remaining-block-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.att-text {
  color: #004DFE
}

.def-text {
  color: #A09402 
}

.mid-text {
  color: #7FFE00
}

.gk-text {
  color: #FE8E00
}